
<! # 3- generated the cntroller appropriately we automatically got under the view, a folder called the same name. 
# and under this folder we create our html.erb file connected to our generated conttroller. >

<h1>Hello world!</h1>